@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto');


:root {
  --ff-heading: 'Rubik Glitch', cursive;
  --ff-body: 'Roboto', sans-serif;
  --color-white: #fff;
  --bg-color: #121212;
  --font-color: #ffffff75;
  --em-font-color: #ffffff87;
  --border-color: #c9e3e9;
  --gradient-style: linear-gradient(
    to left,
    #0b0b0b 0%, #414141 40%, #414141 60%, #0b0b0b 100%
  );
  --gradient-size: 2px;
  --gradient-shadow:#AB1822;
}

input:checked,
input:checked + * {
--bg-color: #ffffff75;
--font-color: #121212;
--em-font-color: #121212;
--border-color: #218095;
--gradient-style: linear-gradient(
  to left,
  #0b0b0b 0%, #414141 40%, #414141 60%, #0b0b0b 100%
);
--gradient-size: 8px;
--gradient-shadow: #009E27;
}



body {
  margin: 0;
}

* {
  background: var(--bg-color);
  color: var(--font-color);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  outline: 0;
  position: absolute;
  z-index: 2;
  top: 10px;
  right: 10px;
  width: 440px;
  height: 20px;
  border-radius: 50%;
  background-image: var(--gradient-style);
  box-shadow: 0 0 30px var(--gradient-size) var(--gradient-shadow),0 0 50px var(--gradient-size) var(--gradient-shadow);
  cursor: pointer;
}
article {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 24px;
}
h1 {
  font-family:'Rubik Glitch', cursive;;
  font-size: 24px;
  margin-top: 20px;
  padding-bottom: 4px;
  border-bottom: 3px solid var(--border-color);
  color: var(--em-font-color);
}
p {
  font-size: 18px;
  margin: 10px 0;
  line-height: 1.4;
}

