@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

:root {
  --font-family: 'Rubik Glitch', cursive;
  --color-white: #fff;
  --color-black: rgb(186, 238, 43);
  --color-gray: #636363;
  --color-red: #e25747;
  --color-blue: #3498db;

  --bg-color: var(--color-black);
  --text-color: var(--color-white);
  --link-color: var(--color-blue);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

a {
  color: var(--link-color);
}

.header {
  background-color: var(--color-gray);
}

.header__logo {
  color: var(--color-primary);
  font-size: 1.5rem;
  padding: 0.5rem;
  text-decoration: none;
}