@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto');


:root {
--ff-heading: 'Rubik Glitch', cursive;
--ff-body: 'Roboto', sans-serif;
--dp-01-bg: hsla(0, 100%, 100%, 0.05);
--dp-01-sh:  
0px 1px 3px 0px rgba(0, 0, 0, 0.2),
0px 1px 1px 0px rgba(0, 0, 0, 0.14),
0px 2px 1px -1px rgba(0, 0, 0, 0.12); 
--dp-02-bg: hsla(0, 100%, 100%, 0.07);
--dp-02-sh: 
0px 1px 5px 0px rgba(0, 0, 0, 0.2),
0px 2px 2px 0px rgba(0, 0, 0, 0.14),
0px 3px 1px -2px rgba(0, 0, 0, 0.12);
--dp-03-bg:  hsla(0, 100%, 100%, 0.08);
--dp-03-sh:  
0px 1px 8px 0px rgba(0, 0, 0, 0.2),
0px 3px 4px 0px rgba(0, 0, 0, 0.14),
0px 3px 3px -2px rgba(0, 0, 0, 0.12); 
--dp-04-bg: hsla(0, 100%, 100%, 0.09);	
--dp-04-sh: 
0px 2px 4px -1px rgba(0, 0, 0, 0.2),
0px 4px 5px 0px rgba(0, 0, 0, 0.14),
0px 1px 10px 0px rgba(0, 0, 0, 0.12);
--dp-05-bg: hsla(0, 100%, 100%, 0.10);	
--dp-05-sh: 
0px 3px 5px -1px rgba(0, 0, 0, 0.2),
0px 5px 8px 0px rgba(0, 0, 0, 0.14),
0px 1px 14px 0px rgba(0, 0, 0, 0.12); 
--dp-06-bg:  hsla(0, 100%, 100%, 0.11);
--dp-06-sh: 
0px 3px 5px -1px rgba(0, 0, 0, 0.2),
0px 6px 10px 0px rgba(0, 0, 0, 0.14),
0px 1px 18px 0px rgba(0, 0, 0, 0.12);
--dp-08-bg:  hsla(0, 100%, 100%, 0.12);
--dp-08-sh: 
0px 5px 5px -3px rgba(0, 0, 0, 0.2),
0px 8px 10px 1px rgba(0, 0, 0, 0.14),
0px 3px 14px 2px rgba(0, 0, 0, 0.12);
--dp-10-bg:  hsla(0, 100%, 100%, 0.13);
--dp-10-sh: 
0px 6px 6px -3px rgba(0, 0, 0, 0.2),
0px 10px 14px 1px rgba(0, 0, 0, 0.14),
0px 4px 18px 3px rgba(0, 0, 0, 0.12);
--dp-12-bg:hsla(0, 100%, 100%, 0.14);	
--dp-12-sh: 
0px 7px 8px -4px rgba(0, 0, 0, 0.2),
0px 12px 17px 2px rgba(0, 0, 0, 0.14),
0px 5px 22px 4px rgba(0, 0, 0, 0.12); 
--dp-16-bg:  hsla(0, 100%, 100%, 0.15);
--dp-16-sh: 
0px 8px 10px -5px rgba(0, 0, 0, 0.2),
0px 16px 24px 2px rgba(0, 0, 0, 0.14),
0px 6px 30px 5px rgba(0, 0, 0, 0.12);
--dp-24-bg: hsla(0, 100%, 100%, 0.16);;
--dp-24-sh: 
0px 11px 15px -7px rgba(0, 0, 0, 0.2),
0px 24px 38px 3px rgba(0, 0, 0, 0.14),
0px 9px 46px 8px rgba(0, 0, 0, 0.12); 

  --color-white: #FFFFFF;
  --bg-color: #121212;
  --alt-bg-color: #424242;
  --font-color: #FFFFFF;
  --em-font-color: #808080;
  --border-color: #808080;
  --link-color: #008080;
  --link-hover-color: #00FFFF;
  --link-active-color: #FF0000;
  --box-shadow: 8px 0 8px #B30000,5px 0 5px 8px ivory,5px 0 12px 16px #B30000, 5px 0 12px 10px #660000 ;
  --alt-box-shadow: 8px 0 8px #B30000,5px 0 5px 7px ivory, 5px 0 14px 16px #B30000, 5px 0 10px 11px #660000 ;
  --null-box-shadow: boxShadow: null; 
  --toggle-content: 🌑;
  --button-depth: var(--dp-04-sh);
  
}


  html[data-theme='light']{

--bg-color: #e2e1e0;;
--alt-bg-color: #f5f5f5;
--font-color: #666666;
--em-font-color: #007bff;
--border-color: #ededed;
--link-color: #007bff;
--link-hover-color: #0056b3;
--link-active-color: #005681;
--box-shadow : 8px 0 8px #4C9A2A,5px 0 5px 8px ivory,5px 0 12px 16px #ACDF87, 5px 0 12px 10px #4C9A2A;
--alt-box-Shadow :  8px 0 8px #4C9A2A,5px 0 5px 7px ivory, 5px 0 14px 16px #ACDF87, 5px 0 10px 11px #4C9A2A;
--null-box-shadow: null; 
--toggle-content: "🔆";
--button-depth: var(--dp-08-sh);
--button-color: var(--dp-08-bg);
--quote: "“Once you start down the dark path, forever will it dominate your destiny, consume you it will.”";
}

html[data-theme='dark']{
  --color-white: #FFFFFF;
  --bg-color: #121212;
  --alt-bg-color: #424242;
  --font-color: #FFFFFF;
  --em-font-color: #808080;
  --border-color: #808080;
  --link-color: #008080;
  --link-hover-color: #00FFFF;
  --link-active-color: #FF0000;
  --box-shadow: 8px 0 8px #B30000,5px 0 5px 8px ivory,5px 0 12px 16px #B30000, 5px 0 12px 10px #660000 ;
  --alt-box-shadow: 8px 0 8px #B30000,5px 0 5px 7px ivory, 5px 0 14px 16px #B30000, 5px 0 10px 11px #660000 ;
  --null-box-shadow: null; 
  --toggle-content: "🌑";
  --button-depth: var(--dp-04-sh);
  --button-color: var(--dp-08-bg);
  --pos: right;
  --quote: '"The dark side of the force is a pathway to many abilities some consider to be unnatural."';
  
}

.container{
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--dp-01-bg);
  box-shadow: var(--dp-01-sh);
  /*! line-height: 30px; */
  margin: 1%;
  height: fit-content;
  padding: 0rem;
  justify-self: flex-start; 
  width: 70vh;

}

.container >*:first-child {
  align-self: stretch;
}


body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  color: var(--font-color);
  font-family: var(--ff-body);
  font-size: 14px;
  padding: 0rem;

}

.nav {
  background-color: #333;
  overflow: hidden;
  box-shadow: var(--dp-01-sh);
  flex: 1 100%; 
  flex-grow: 1;
  width: 100wh;
  justify-content: space-between;


}

/* Style the links inside the navigation bar */
.nav a {
  float: right;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.nav a.active {
  background-color: #A21232;
  color: white;
}

.nav h1 {
  font-size: 28px;
  font-family: var(--ff-heading);
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
}


/* Hide the link that should open and close the topnav on small screens */
.nav .icon {
  display: none;
} 

.about{
  display: flex;
  background-color: var(--dp-02-bg);
  box-shadow: var(--dp-02-sh);
  row-gap: 10px;
  margin: 2%;
  padding: 2em;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: column;
  width: 80vw;
  
  
}

#profile-image{
  align-self: stretch;
  background: red;
}

#lightsaber{
 align-self: stretch;
 background: red;
  
}

#blade {

  top :  50% ;
  left :  50% ;
  float : left; 
  margin-top :  338px ;
  margin-left :  -60px ;
  width :  0px ;
  height :  1px ;
  border-radius :  100px ;
  z-index :  -1 ;
  transition :  width .6s cubic-bezier(0.34, .75 , 0.20, 1) ;
  background :  ivory ;
  box-shadow: none;
  align-items: flex-start;
  display: flex;
}

#hilt {
  float: left;
  top :  50% ;
  left :  50% ;
  margin-top :  300px ;
  margin-left :  -300px ;
  cursor: pointer;
  align-items: flex-start;
  display: flex;
}


.hidden{
  display:none;
}

/*
.class {
 font-size: 28px;
 content: 'hi';
  color: white;
}*/

/*
input[type=checkbox]{
  display: none;
}/*

/*
input + label{
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .1rem solid var(--blue);
    border-radius: 50%;
    background: var(--darkblue);
    transition: .1s all;
    cursor: pointer;
    z-index: 999 !important;
}

input + label:hover {
  transform: scale(.95);
}

input + label:after {
  content: "🤜";
}*/


label:before {
  float: right;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  background-color: var(--dp-10-bg);
  cursor: pointer;
  padding: 15px;
  font-size: 2.5em;
  content: var(--toggle-content);
  box-shadow: var(--dp-10-sh);
  color: white;
  border-radius: 90%;
  z-index: 1;
  
}

.nav {
  background-color: #333;
  overflow: hidden;
  box-shadow: var(--dp-01-sh);
  flex: 1 100%; 
  flex-grow: 1;
  width: 100wh;
  justify-content: space-between;


}



